<!DOCTYPE html>
<html>
<head>
  <title>Curate::Deposit</title>
  <%= stylesheet_link_tag    "curate/deposit/application", media: "all" %>
  <%= javascript_include_tag "curate/deposit/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
